body{font-family: Arial, Helvetica, sans-serif;
      margin : 0px;
      padding : 0px;}

nav{background-color: rgb(138, 8, 110);
    padding : 10px;
    text-align: right;
    height : 85px;}

li.navigate{padding: 10px;}
      
nav li{display : inline;
       padding : 10px;}

nav a{color: white;
      border-radius : 10px;
      text-decoration: none;
      padding : 10px;}

a:hover{background-color: rgb(179, 86, 159);}

img{border-radius : 10px;}

#af{margin : 10px;
    border : solid 10px rgb(138, 8, 110);
    float : left;}

#afb{float : left;}

#Naam{padding-top : 580px;
      font-size: 35pt;
      color : rgb(138, 8, 110)}
article{margin : 40px;}

iframe{border-radius: 10px;
       margin-top: 15px;
       margin-left: 15px;}

#c{color : rgb(138, 8, 110);}

aside{float: right;
      background-color:rgb(138, 8, 110);
      color : white;
      border-radius: 10px;
      padding: 5px ;
      margin: 35px;}

#aff{margin : 0px;
      padding : 0px;}

#l{Color : White;
   text-decoration: none;}

footer{padding-left:5px;
      margin : 40px;}
    
